<div class="nav-wrapper">
    <nav class="navbar1">
        <div class="img">Hello Pratik Chaulagain</div>
        <ul class="navigation">
            <!-- <li class="nav-item"><a>Home</a></li>
            <li class="nav-item"><a>About</a></li>
            <li class="nav-item"><a>Contact Us</a></li>       -->
            <div class="dropdown">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>User
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a>Profile </a></li>
                  <li class="dropdown-item" (click)="onLogout()"><a>Logout</a></li>
                </ul>
              </div>
            </ul>
    </nav>
</div>